@page "/authentication/logout"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<PageTitle>Logout</PageTitle>

<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card mt-5">
            <div class="card-header">
                <h3 class="text-center">Sign Out</h3>
            </div>
            <div class="card-body">
                <RemoteAuthenticatorView Action="@Action">
                    <LogOutSucceeded>
                        <div class="text-center">
                            <p>You have been signed out successfully.</p>
                            <a href="/" class="btn btn-primary">Return to Home</a>
                        </div>
                    </LogOutSucceeded>
                    <LogOutFailed>
                        <div class="text-center text-danger">
                            <p>Sign out failed. Please try again.</p>
                            <a href="/" class="btn btn-primary">Return to Home</a>
                        </div>
                    </LogOutFailed>
                </RemoteAuthenticatorView>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? Action { get; set; }
}